!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(http-equiv='imagetoolbar', content='false')
    title testing
    meta(name='description', content='description')
    meta(name='author', content='author')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != renderStyles()
    link(rel='dns-prefetch', href='//ajax.googleapis.com')
    link(rel='dns-prefetch', href='//cdn.wijmo.com')
    != renderJs('head')
  body(data-spy='scroll', data-target='.subnav', data-offset='50')
    header
      .navbar.navbar-fixed-top
        .navbar-inner(data-dropdown='dropdown')
          .container-fluid
            a.brand(href='#') OxyNode
            .nav-collapse
              ul.nav
                li.active
                  a(href='#') Home
                li
                  a(href='#/user/create') About Us
                li.dropdown
                  a.dropdown-toggle(href='#contact', data-toggle='dropdown') Contact
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Secondary link
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Another link
              form.navbar-search.pull-right(action='')
                input.search-query(type='text', placeholder='Search')
    div(role='main')
      .container-fluid
        .page-header
          h1
            | OxyNode
            small A Bootstrap-themed kickstart for web projects
        .filler.sidebar
        .sidebar
          ul.nav.nav-list
            li.nav-header List header
            li.active: a(href='#')
              i.icon-white.icon-home 
              |  Home
            li: a(href='#')
              i.icon-book
              |  Library
            li: a(href='#')
              i.icon-pencil
              |  Applications
            li.nav-header Another list header
            li: a(href='#')
              i.icon-user
              |  Profile
            li: a(href='#')
              i.icon-cog
              |  Settings
            li: a(href='#')
              i.icon-flag
              |  Help
        .content!= body
    footer
      .container-fluid
        p.pull-right &copy; Company 2011
    
    //Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script
      window.jQuery || document.write('<script src="/js/jquery.js"><\\/script>')
    
    //Grab Google CDN's jQuery UI, with a protocol relative URL; fall back to local if offline 
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script
      window.jQuery.ui || document.write('<script src="/js/jquery-ui.js"><\\/script>')
    
    //Get socket.io
    
    //Libs
    //
      script(src='//cdn.wijmo.com/external/jquery.bgiframe-2.1.3-pre.js')
      script(src='//cdn.wijmo.com/external/globalize.min.js')
      script(src='//cdn.wijmo.com/external/jquery.mousewheel.min.js')
      script(src='//cdn.wijmo.com/external/raphael.js')
      script(src='//cdn.wijmo.com/jquery.wijmo-open.1.5.0.min.js')
    script(src='/i18next/i18next.js')
    
    //Bootstrap application
    //!script!= javascript
    != renderJs()
    
    script
      $.i18n.init({
          dynamicLoad: true
        , fallbackLng : 'en-US'
        , resGetPath : 'locales/resources.json?lng=__lng__&ns=__ns__'
        , useLocalStorage: false // in production you could use this
      });
      
      //Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
      /*
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      */