@keyframes bounceOutLeft 
	0% 
		transform translateX(0)
	
	
	20% 
		opacity 1
		transform translateX(20px)
	
	
	100% 
		opacity 0
		transform translateX(-2000px)
	


.bounceOutLeft 
	-webkit-animation-name bounceOutLeft
	-moz-animation-name bounceOutLeft
	-ms-animation-name bounceOutLeft
	-o-animation-name bounceOutLeft
	animation-name bounceOutLeft
