@keyframes bounceOut 
	0% 
		transform scale(1)
	
	
	25% 
		transform scale(.95)
	
	
	50% 
		opacity 1
		transform scale(1.1)
	
	
	100% 
		opacity 0
		transform scale(.3)
		


.bounceOut 
	-webkit-animation-name bounceOut
	-moz-animation-name bounceOut
	-ms-animation-name bounceOut
	-o-animation-name bounceOut
	animation-name bounceOut
