@keyframes fadeInUp 
	0% 
		opacity 0
		transform translateY(20px)
	
	
	100% 
		opacity 1
		transform translateY(0)
	


.fadeInUp 
	-webkit-animation-name fadeInUp
	-moz-animation-name fadeInUp
	-ms-animation-name fadeInUp
	-o-animation-name fadeInUp
	animation-name fadeInUp
