@keyframes fadeOutDown 
	0% 
		opacity 1
		transform translateY(0)
	
	
	100% 
		opacity 0
		transform translateY(20px)
	


.fadeOutDown 
	-webkit-animation-name fadeOutDown
	-moz-animation-name fadeOutDown
	-ms-animation-name fadeOutDown
	-o-animation-name fadeOutDown
	animation-name fadeOutDown
