@keyframes fadeInLeftBig 
	0% 
		opacity 0
		transform translateX(-2000px)
	
	
	100% 
		opacity 1
		transform translateX(0)
	


.fadeInLeftBig 
	-webkit-animation-name fadeInLeftBig
	-moz-animation-name fadeInLeftBig
	-ms-animation-name fadeInLeftBig
	-o-animation-name fadeInLeftBig
	animation-name fadeInLeftBig
