@keyframes fadeOutLeft 
	0% 
		opacity 1
		transform translateX(0)
	
	
	100% 
		opacity 0
		transform translateX(-20px)
	


.fadeOutLeft 
	-webkit-animation-name fadeOutLeft
	-moz-animation-name fadeOutLeft
	-ms-animation-name fadeOutLeft
	-o-animation-name fadeOutLeft
	animation-name fadeOutLeft
