@keyframes fadeOutUpBig 
	0% 
		opacity 1
		transform translateY(0)
	
	
	100% 
		opacity 0
		transform translateY(-2000px)
	


.fadeOutUpBig 
	-webkit-animation-name fadeOutUpBig
	-moz-animation-name fadeOutUpBig
	-ms-animation-name fadeOutUpBig
	-o-animation-name fadeOutUpBig
	animation-name fadeOutUpBig
