@keyframes fadeInRight 
	0% 
		opacity 0
		transform translateX(20px)
	
	
	100% 
		opacity 1
		transform translateX(0)
	


.fadeInRight 
	-webkit-animation-name fadeInRight
	-moz-animation-name fadeInRight
	-ms-animation-name fadeInRight
	-o-animation-name fadeInRight
	animation-name fadeInRight
