@keyframes fadeOutRightBig 
	0% 
		opacity 1
		transform translateX(0)
	
	
	100% 
		opacity 0
		transform translateX(2000px)
	


.fadeOutRightBig 
	-webkit-animation-name fadeOutRightBig
	-moz-animation-name fadeOutRightBig
	-ms-animation-name fadeOutRightBig
	-o-animation-name fadeOutRightBig
	animation-name fadeOutRightBig
