@keyframes fadeOutDownBig 
	0% 
		opacity 1
		transform translateY(0)
	
	
	100% 
		opacity 0
		transform translateY(2000px)
	


.fadeOutDownBig 
	-webkit-animation-name fadeOutDownBig
	-moz-animation-name fadeOutDownBig
	-ms-animation-name fadeOutDownBig
	-o-animation-name fadeOutDownBig
	animation-name fadeOutDownBig
