@keyframes flipInX 
  0% 
    transform perspective(400px) rotateX(90deg)
    opacity 0
  40% 
    transform perspective(400px) rotateX(-10deg)
  70% 
    transform perspective(400px) rotateX(10deg)
  100% 
    transform perspective(400px) rotateX(0deg)
    opacity 1



.flipInX 
	-webkit-backface-visibility visible !important
	-webkit-animation-name flipInX
	-moz-backface-visibility visible !important
	-moz-animation-name flipInX
	-ms-backface-visibility visible !important
	-ms-animation-name flipInX
	-o-backface-visibility visible !important
	-o-animation-name flipInX
	backface-visibility visible !important
	animation-name flipInX
