@keyframes rotateOutDownRight 
	0% 
		transform-origin right bottom
		transform rotate(0)
		opacity 1
	
	
	100% 
		transform-origin right bottom
		transform rotate(-90deg)
		opacity 0
	


.rotateOutDownRight 
	-webkit-animation-name rotateOutDownRight
	-moz-animation-name rotateOutDownRight
	-ms-animation-name rotateOutDownRight
	-o-animation-name rotateOutDownRight
	animation-name rotateOutDownRight
