@keyframes rotateOutUpLeft 
	0% 
		transform-origin left bottom
		transform rotate(0)
		opacity 1
	
	
	100% 
		-transform-origin left bottom
		-transform rotate(-90deg)
		opacity 0
	


.rotateOutUpLeft 
	-webkit-animation-name rotateOutUpLeft
	-moz-animation-name rotateOutUpLeft
	-ms-animation-name rotateOutUpLeft
	-o-animation-name rotateOutUpLeft
	animation-name rotateOutUpLeft
