@keyframes rotateOutDownLeft 
	0% 
		transform-origin left bottom
		transform rotate(0)
		opacity 1
	
	
	100% 
		transform-origin left bottom
		transform rotate(90deg)
		opacity 0
	


.rotateOutDownLeft 
	-webkit-animation-name rotateOutDownLeft
	-moz-animation-name rotateOutDownLeft
	-ms-animation-name rotateOutDownLeft
	-o-animation-name rotateOutDownLeft
	animation-name rotateOutDownLeft
