@keyframes swing 
	20% 
	  transform rotate(15deg) 	
	40%
	  transform rotate(-10deg) 
	60%
	  transform rotate(5deg) 	
	80%
	  transform rotate(-5deg) 	
	100%
	  transform rotate(0deg) 


.swing 
	-webkit-transform-origin top center
	-moz-transform-origin top center
	-ms-transform-origin top center
	-o-transform-origin top center
	transform-origin top center
	-webkit-animation-name swing
	-moz-animation-name swing
	-ms-animation-name swing
	-o-animation-name swing
	animation-name swing
