@import 'jquery-ui/bootstrap-theme/jquery-ui-1.8.16.custom'
@import 'jquery-ui/jquery.wijmo-open.1.5.0'
@import 'jquery-ui/ui.daterangepicker'

@import prettify
@import animate
@import chosen



html, body 
  background-color #eee
  height 100%


body 
  padding-top 40px // 40px to make the container go all the way to the bottom of the topbar

a
  outline none !important

// The white background content wrapper
div[role="main"] > div.container-fluid 
  background-color #fff
  padding 20px
  min-height 100%
  margin-bottom 20px
  position relative
  box-shadow 0 1px 2px rgba(0,0,0,.15)


.filler 
  position fixed
  top 0
  bottom 20px
  left 0
  right 0
  z-index 0


// accomodate IE and older browsers
.filler.content 
  z-index -1


// Page header tweaks
.page-header 
  background-color #f5f5f5
  padding 20px 20px 10px
  margin -20px -20px 20px


// Give a quick and non-cross-browser friendly divider
.container-fluid > .sidebar
  margin-left 0
  margin-top 82px
  border-right 1px solid #eee
  position absolute
  top 0
  left 20px
  width 220px

.container-fluid > .content
  margin-left 240px