@import 'jquery-ui/bootstrap-theme/jquery-ui-1.8.16.custom'
@import 'jquery-ui/jquery.wijmo-open.1.5.0'
@import 'jquery-ui/ui.daterangepicker'

@import prettify
@import animate
@import chosen

html
body 
  background-color #eee

body 
  padding-top 40px // 40px to make the container go all the way to the bottom of the topbar

a
  outline none !important

// The white background content wrapper
div[role="main"] > div.container-fluid 
  background-color #fff
  padding 20px
  min-height 100%
  margin-bottom 20px
  position relative
  box-shadow 0 1px 2px rgba(0,0,0,.15)


.filler 
  position fixed
  top 0
  bottom 20px
  left 0
  right 0
  z-index 0


// accomodate IE and older browsers
.filler.content 
  z-index -1


// Page header tweaks
.page-header 
  background-color #f5f5f5
  padding 20px 20px 10px
  margin -20px -20px 20px


// Give a quick and non-cross-browser friendly divider
.container-fluid > .sidebar
  margin-left 0
  margin-top 82px
  border-right 1px solid #eee
  position absolute
  top 0
  left 20px
  width 220px

.container-fluid > .content
  margin-left 240px

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li > a {
    border-left: 1px solid #F5F5F5;
    border-radius: 0 0 0 0;
    border-right: 1px solid #E5E5E5;
    margin: 0;
    padding-bottom: 11px;
    padding-top: 11px;
}
.subnav .nav > .active > a, .subnav .nav > .active > a:hover {
    background-color: #E9E9E9;
    border-left: 0 none;
    border-right-color: #DDDDDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777777;
    padding-left: 13px;
}
.subnav .nav > .active > a .caret, .subnav .nav > .active > a:hover .caret {
    border-top-color: #777777;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav .nav > li:last-child > a {
    border-right: 0 none;
}
.subnav .dropdown-menu {
    border-radius: 0 0 4px 4px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1030;
}
.subnav-fixed .nav {
    margin: 0 auto;
    padding: 0 1px;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}