.subnav
  ul.nav.nav-pills
    li.active: a(href='#typography')
      | Typography
    li: a(href='#code')
      | Code
    li: a(href='#tables')
      | Tables
    li: a(href='#forms')
      | Forms
    li: a(href='#buttons')
      | Buttons
    li: a(href='#icons')
      | Icons by Glyphicons
br
// Main hero unit for a primary marketing message or call to action 
.hero-unit
  h1 Hello, world! 
    =t('creator.firstname', { defaultValue : 'Δεν υπάρχει μετάφραση!' })
  p Vestibulum id 
    code ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  p: a.btn.primary.large Learn more »
hr
//
  div.hero-unit.bootstrap
  form(method='post')
    input(type='hidden', name='_csrf', value=csrf_token)
    input(type='text', name='string')
    input(type='submit', name='submit', value='submit')
#createAccount.hero-unit.bootstrap
hr
// Example row of columns 
.row
  .span5
    h2 Heading
    p Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    p: a.btn(href='#') View details »
  .span5
    h2 Heading
    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    p: a.btn(href='#') View details »
  .span5
    h2 Heading
    p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    p: a.btn(href='#') View details »
